h1 {text-align: center;}

h2{text-align: center; color: red;}

.highlight {color: green; font-size: 16px; font-weight: bold; font-family: Cambria;}

p{font-size: 14px;}

img {width: 250px; height: 250px; float: right; margin-right: 50px; float: top; margin-top: -135px;}
